/*Global*/
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 40px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}
h2 {
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
}
p,
a{
      font-family: 'Rajdhani', sans-serif;

    font-family: 'Roboto', sans-serif;
}
/*Header*/
header {
    display: flex;
    background-image: url(images/home.jpg);
    background-position: center;
    background-size: cover;
}
.sreen-left {
  background-color: rgba(5, 3, 0, 0.289);
  height: 100vh;
  width: 19%;
}
.name-word {
  color: rgb(226, 221, 205);
  line-height: 40px;
  margin: 70px auto;
  text-align: center;
  font-size: 10px;
}
.screen-rigth {
  width: 79%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.text-motivation {
  width: 79%;
  margin-bottom: 10px;
}
.text-motivation p {
  background-color: rgba(29, 27, 27, 0.39);
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  height: 120px;
  padding-top: 40px;
}
.text-motivation p:hover {
  background-color: rgba(24, 22, 22, 0.487);
}

/*Nav-bar*/
nav ul {
  margin-left: 20px;
}
nav ul li {
  font-size: 20px;
  line-height: 35px;
}
nav ul li a {
  color: rgb(160, 157, 145);
}
nav ul li a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  border-radius: 5%;
  padding-right: 60px;
}
/*Networks*/
.networks {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.networks ul {
  display: flex;
}
.networks ul li a img {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50%;
}
.networks ul li a img:hover {
  background-color: rgb(127, 204, 255);
  width: 60%;
}
