/*Global*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 40px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}
h2 {
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.46);
  padding: 15px;
  border-radius: 10px;
  color: #ed2901;
}
h3 {
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  background-color: #ed2901;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  margin: 20px;
}
h4 {
  color: #ed2901;
}

p,
a,
h4,
h5,
h6,
li {
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.933);
}
/*Header*/
header {
  display: flex;
  background-image: url(images/Black-And-White-Background-Desktop-Wallpaper-16252.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 130vh;
  max-width: 100%;
}
.button-2 {
 padding: 10px;
 border-radius: 5px;
 transition: border-radius 0.5s ease-in-out;
}
.button-2:hover {
  background-color: rgba(0, 0, 0, 0.61);
  color: #ed2901;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
 }
#screen-left {
  background-color: rgba(5, 3, 0, 0.726);
  width: 250px;
  height: 100vh;
  position: fixed;
}
.name-word {
  color: rgb(226, 221, 205);
  line-height: 40px;
  margin: 70px auto;
  text-align: center;
  font-size: 10px;
}
#screen-rigth {
  width: 100%;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  
.text-motivation {
  margin-top: 30px;
  margin-bottom: 30px;
}
.text-motivation p {
  background-color: rgba(29, 28, 28, 0.856);
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.text-motivation p:hover {
  background-color: rgba(12, 11, 11, 0.884);  
}
/*Menu mobile*/
.title-mobile {
  text-align: center;
  margin: 70px;
}
.title-mobile h2,
.title-mobile h3 {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.full-nav-mobile {
  position: fixed;
  z-index: 1;
  margin: 0;
}
.ham {
  position: absolute;
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
  background-size: 100%;
  border: 5px solid #fff;
  border-radius: 100%;
}
.showClose {
  background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
}

.navbar-mobile {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(5, 3, 0, 0.911);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}
.showNav {
  transform: translateY(0);
}

.navbar-mobile ul {
  width: 100%;
  height: 100%;
  margin: 0%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}


.navbar-mobile ul li a {
  color: rgb(236, 233, 214);
  padding-bottom: 10px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.navbar-mobile ul li a:hover,
.navbar-mobile ul li a:active {
  border-bottom: 2px solid white;
  color: white;
}
/*Nav-bar*/
nav ul {
  margin-left: 20px;
}
nav ul li {
  font-size: 20px;
  line-height: 35px;
}
nav ul li a {
  color: rgb(231, 228, 216);
}
nav ul li a:hover {
  color: #ed2901;
  border-bottom: 2px solid #fff;
  border-radius: 5%;
}
/*Networks*/
.networks {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.networks ul {
  display: flex;
}
.networks ul li a img {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50%;
}
.networks ul li a img:hover {
  background-color: rgb(127, 204, 255);
  width: 60%;
}

/*Menu pc*/
#screen-left {
  display: none;
}
/*SKILLS*/
#skills{
  width: 100%;
  background-image: url(images/Black-And-White-Background-HD-Wallpaper-16254.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skills img {
  width: 90px;
}
.languages {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.languages img {
  margin: 0px 30px 30px 30px;
}
/*Expériences*/
#experiences {
  background-image: url(images/image-2.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.568);
  margin: 20px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.933);
  padding: 20px;
}
/*Schools*/
#schools {
  background-image: url(images/image\ 1.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.school {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.39);
  border-radius: 10px;
}
/*Portfolio*/
#portfolios {
  background-image: url(images/Black-And-White.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio {
  margin: 20px;
}
.portfolio img {
  width: 300px;
  border-radius: 10px;
}
.portfolio a img:hover {
  width: 330px;
}
/*Contact*/
#contacts {
  background-image: url(images/3259187.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input,
textarea {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgba(255, 255, 255, 0.651);
  color: rgb(0, 0, 0);
}
textarea {
  padding: 80px;
}
.button-1 {
  padding-right: 50px;
  padding-left: 50px;
}
.button-1:hover {
  background-color: rgba(0, 0, 0, 0.61);
  color: #ed2901;
}
form {
  text-align: center;
  margin-bottom: 30px;

}
textarea {
  padding-right: 85px;
}
.contact {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*footer*/
footer {
  background-color: black;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
footer p {
  margin-top: 250px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px){
  .full-nav-mobile {
    display: none;
   }
   .title-mobile {
     display: none;
   }
  /*Menu pc*/
#screen-left {
  display: block;
  }
  #screen-rigth,
  .languages,
  .experience,
  .school,
  .contact,
  .portfolio,
  .title { 
  margin-left: 250px;
  }
  .text-motivation {
    width: 600px;
  }
  #skills,
  header,
  #contact {
    height: 100vh;
  }
}

